:root{
    --main-color:#1c2331;
    --second-color:#7c4dff;
}
body{
    background-color: var(--main-color);
    font-family: 'Open Sans', sans-serif;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    font-family: 'Outfit', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Work Sans', sans-serif;
    position: relative;
    overflow-x: hidden;
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background-color: var(--main-color);
}
::-webkit-scrollbar-thumb{
    background-color: var(--second-color);
}
/*Start Header*/
.title{
    display: flex;
    align-items: center;
    justify-content: center;
}
.title .before,
.title .after{
    display: block;
    width: 50px;
    height: 2px;
    background-color: white;
    margin:0 25px;
    position: relative;
}
.title .before::before{
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    border: 2px solid white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.title .after::before{
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    border: 2px solid white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    left: -15px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.title h2{
    color: white;
    text-align: center;
}
/*Start Fixed*/
.short{
    position: fixed;
    left: -150px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    background-color: white;
    z-index: 9999;
    width: 150px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
.open{
    left: 0;
}
.short ul{
    position: relative;
    margin: 0;
    padding: 20px 0;
}
.short ul li{
    margin-bottom: 15px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
.short ul li:hover{
    padding-left: 8px;
}
.short ul li a{
    color: var(--second-color);
    text-decoration: none;
    margin-left: 15px;
}
.short span{
    position: absolute;
    background-color: white;
    color: var(--second-color);
    padding: 4px 10px;
    right: -41px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    font-size: 25px;
    cursor: pointer;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

/*Start Header Section*/
header nav .navbar-brand{
    color: white;
    font-weight: bold;
}
header nav .navbar-brand:hover{
    color: white;
}
header nav .navbar-toggler{
    background-color: white;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    width: 56px;
    height: 40px;
}
header nav .navbar-toggler .remove{
    display: none;
}
header nav .navbar-nav{
    margin: 0 0 0 auto;
}
header nav .navbar-nav li .nav-link{
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    position: relative;
}
header nav .navbar-nav li .nav-link::before{
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: var(--second-color);
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
header nav .navbar-nav li .nav-link:hover{
    color: var(--second-color);
}
header nav .navbar-nav li .nav-link:hover::before{
    width: 100%;
}
/*Start About Section*/
.about{
    height: calc(100vh - 56px);
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.ball{
    position: absolute;
    width: 250px;
    height: 250px;
    background-color: var(--second-color);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.one{
    top: -100px;
    right: -100px;
}
.about .two{
    bottom: -100px;
    left: -100px;
}
.about .container{
    display: flex;
}
.about .half-one{
    display: flex;
    flex-direction: column;
    align-self: center;
}
.about .half-one h1{
    color: white;
}
.about .half-one h1 span{
    color: var(--second-color);
    font-weight: bold;
}
.about .half-one p{
    color: white;
    margin-bottom: 50px;
}
.about .half-one .links .skill,
.about .half-one .links .project{
    color: white;
    text-decoration: none;
    padding: 6px 30px;
    background-color: var(--second-color);
    font-size: 22px;
    font-weight: bold;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    position: relative;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}
.about .half-one .links .skill{
    color: var(--second-color);
    background-color: white;
}
.about .half-one .links .skill:hover{
    background-color: white;
    color: var(--second-color);
}
.about .half-one .links .project:hover{
    background-color: var(--second-color);
    color: white;
}

/*Start Skills Section*/
.skills{
    padding: 40px 0;
    height: 100%;
}
.skills .container{
    height: 100%;
}
.skills .division{
    padding: 30px 0;
    margin: 70px 0;
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.skills .division .up,
.skills .division .down{
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.skills .division .cent{
    color: white;
    text-align: center;
    margin: 50px;
}
.skills .division .skill{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--second-color);
    width: 120px;
    height: 120px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin: 0 auto;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    position: relative;
}
.skills .division .skill svg{
    margin-bottom: 10px;
}
.skills .division .skill:hover{
    background-color: #6634f1;
    animation: up-down 1s linear forwards;
    -webkit-animation: up-down 1s linear forwards;
}
/*Start Projects*/
.projects {
    height: 100%;
}
.projects .content{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(350px,1fr));
    gap: 40px;
    padding: 50px 0;
}
.projects .content .box{
    background-color: honeydew;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    overflow: hidden;
}
.projects .hide{
    display: none;
}
.projects .content .image{
    position: relative;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
.projects .content .image img{
    max-width: 100%;
}
.projects .content .image .popup{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}
.projects .content .box:hover .popup{
    display: flex;
    justify-content: center;
    align-items: center;
}
.projects .content .image .popup a{
    text-decoration: none;
    color: white;
    background-color: var(--second-color);
    padding: 4px 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.projects .content .desc{
    position: relative;
    background-color: #eee;
}
.projects .content .desc h4{
    padding: 10px 0;
    margin: 0;
    color: var(--second-color);
    text-align: center;
}
.projects .content .desc p{
    text-align: center;
    color: var(--main-color);
    margin: 0;
    padding-bottom: 8px;
}
.projects .more{
    background-color: var(--second-color);
    width: fit-content;
    text-align: center;
    color: white;
    padding: 15px 45px;
    margin: 0 auto;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}
.projects .more:hover{
    background-color: #6634f1;
    cursor: pointer;
}
.projects .more h6{
    margin: 0;
}

/*Start Contact*/
.contact{
    padding: 40px 0;
}
.contact .content{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(450px,1fr));
    gap: 50px;
    padding: 40px 0 0 0;
}
.contact .content .left{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact .content .left .link{
    background-color: white;
    margin:auto ;
    padding: 20px;
    width: 350px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--second-color);
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    font-weight: bold;
    position: relative;
    margin-bottom: 25px;;

}
.contact .content .left .link:hover{
    background-color: rgb(224, 222, 222);
    transform: translateX(15px);
    -webkit-transform: translateX(15px);
    -moz-transform: translateX(15px);
    -ms-transform: translateX(15px);
    -o-transform: translateX(15px);
}
.contact .content .left .link img{
    position: absolute;
    width: 36px;
    height: 32px;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.contact .content .right img{
    max-width: 100%;
    display: block;
    margin:  0 auto ;
}
/*Start Footer*/
footer{
    background-color: var(--second-color);
    padding: 15px 0;
    text-align: center;
    font-size: 20px;
    color: white;
}
footer span{
    color: var(--main-color);
    font-weight: bold;
}
/*Responsive Section*/
@media screen and (max-width:768px){
    .one{
        display: none;
    }
    header nav .navbar-nav li .nav-link{
        width: fit-content;
        margin: 0 auto;
    }
    .about .container{
        flex-direction: column-reverse;
    }
    .about .half-one h1,
    .about .half-one p{
        text-align: center;
    }
    .about .half-one .links{
        display: flex;
        justify-content: space-between;
    }
    .about .half-two img{
        max-width: 100%;
    }
    .skills{
        height: 50vh;
    }
    .skills .division .skill{
        width: 70px;
        height: 70px;
    }
    .skills .division .skill svg{
        font-size: 20px;
        margin-bottom: 4px !important;
    }
    .skills .division .skill span{
        font-size: 10px;
    }
    .projects {
        margin: 60px 0 0 0;
        padding: 100px 0 40px 0;
    }
    .contact .content{
        display: flex;
        flex-direction: column;
    }
    .contact .content .left .link{
        margin-bottom: 25px;
    }
    .contact .content .right img{
        display: none;
    }
}

@media screen and (min-width:768px) and (max-width:1023px){
    .one{
        display: none;
    }
    header nav .navbar-nav li .nav-link{
        width: fit-content;
        margin: 0 auto;
    }
    .about .container{
        flex-direction: column-reverse;
    }
    .about .half-one h1,
    .about .half-one p{
        text-align: center;
    }
    .about .half-one .links{
        display: flex;
        justify-content: space-between;
    }
    .about .half-two img{
        max-width: 100%;
    }
    .skills{
        height: 50vh;
    }
    .skills .division .skill svg{
        font-size: 15px;
        margin-bottom: 4px !important;
    }
    .skills .division .skill span{
        font-size: 20px;
    }
    .projects {
        margin: 60px 0 0 0;
        padding: 100px 0 40px 0;
    }
    .contact .content{
        display: flex;
        flex-direction: column;
    }
    .contact .content .left .link{
        margin-bottom: 25px;
    }
    .contact .content .right img{
        display: none;
    }
}

@keyframes up-down{
    0%{
        top: 0%;
    }
    25%{
        top: -10%;
    }
    50%,
    100%{
        top: 0%;
    }
    75%{
        top: 10%;
    }
    
}
